body{
    width: 100%;
    width: auto;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    
}
#container{
    width: 70%;
    padding: 1em;
    margin: 0 auto;
    border: black solid 1px;
}
#container h1{
    font-size: 70px;
}