*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    width: auto;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
#container{
    width: 500px;
    padding: 0;
    margin: 0 auto;
    border: black solid 1px;
}
#container h2{
    font-size: 1rem;
    padding: 1rem;
}
#container p{
    font-size: 0.8rem;
    padding: 1rem;    
}
#cabecera {
    width: 100%;
}
#cabecera h1 {
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}